* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

img {
  width: 100%;
}

.btn, .simple__btn {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 26px 54px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
}

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #292F36;
  font-size: 10px;
}

.wrapper {
  max-width: 1210px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}

.header {
  padding-top: 44px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 1.25;
}

.menu__list {
  display: flex;
  justify-content: end;
  gap: 45px;
  align-items: center;
}
.menu__item {
  font-size: 20px;
  line-height: 1.25;
}

.header1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 1.25;
  color: #292F36;
  white-space: pre-line;
  text-align: left;
}

.header2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: center;
  color: #292F36;
}

.big-top {
  padding-top: 57px;
}
.big-top__inner {
  background-color: #fff;
  background-image: url("./img/Banner.jpg");
  min-height: 758px;
  border-radius: 70px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 208px 52px;
}
.big-top__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #4d5053;
  white-space: pre-line;
  text-align: left;
  margin-top: 18px;
}

.simple__btn {
  margin-top: 21px;
  color: #fff;
  background: #292F36;
}

.project {
  padding-top: 96px;
}
.project__desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: #4d5053;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 737px;
}
.project__list {
  margin-top: 93px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 56px;
  column-gap: 99px;
}
.project__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}
.project__info {
  text-align: left;
}
.project__name {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #292F36;
}
.project__category {
  margin-top: 4px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #4d5053;
}
.project__btn {
  display: block;
  width: 71px;
  height: 70px;
}
.project__img_01 {
  border-radius: 0 80px 0 0;
}
.project__img_02 {
  border-radius: 80px 0 0 0;
}
.project__img_03 {
  border-radius: 0 0 80px 0;
}
.project__img_04 {
  border-radius: 0 0 0 80px;
}

.achievement {
  margin-top: 96px;
  padding-top: 151px;
  padding-bottom: 151px;
  background-color: #F4F0EC;
}
.achievement__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.achievement__item {
  width: 25%;
  text-align: center;
}
.achievement__item:not(:last-child) {
  border-right: 1px solid #CDA274;
}
.achievement__indicator {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 85px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #CDA274;
}
.achievement__desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #4d5053;
}

.footer {
  padding-top: 96px;
  padding-bottom: 134px;
}
.footer__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 50px;
}
.footer__social_item {
  width: 20px;
  height: 20px;
}
.footer__social_item > a {
  display: block;
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */