.footer {
    padding-top: 96px;
    padding-bottom: 134px;

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 27px;
    }

    &__item {}

    &__text {
        margin-top: 18px;
        white-space: pre-line;
    }

    &__title {
        text-align: center;
    }

    &__social {
        margin-top: 31px;
        display: flex;
        align-items: center;
        gap: 50px;

        &_item {
            width: 20px;
            height: 20px;

            &>a {
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }

    &__pages {
        text-align: center;

        &>li {
            margin-top: 36px;
        }
    }

    &__contact {
        margin-top: 34px;
        white-space: pre-line;
        text-align: right;
    }
}