.header {
    padding-top: 44px;
    padding-bottom: 45px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;

    &__title {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        line-height: 1.25;
    }
}

.menu {
    &__list {
        display: flex;
        justify-content: end;
        gap: 45px;
        align-items: center;
    }

    &__item {
        font-size: 20px;
        line-height: 1.25;
    }
}

.header1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 65px;
    line-height: 1.25;
    color: $color-primary2;
    white-space: pre-line;
    text-align: left;
}

.header2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.25;
    // letter-spacing: 0.02em;
    color: $color-primary2;

    &__desc {
        text-align: center;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        max-width: 737px;
    }
}

.header3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $color-primary2;
}