.project {
    padding-top: 96px;

    &__desc {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: 0.01em;
        text-align: center;
        color: $color-text;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        max-width: 737px;
    }

    &__list {
        margin-top: 93px;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 56px;
        column-gap: 99px;
    }

    &__item {}

    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
    }

    &__info {
        text-align: left;
    }

    &__name {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $color-primary2;
    }

    &__category {
        margin-top: 4px;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: $color-text;
    }

    &__btn {
        display: block;
        width: 71px;
        height: 70px;
    }

    &__img {
        &_01 {
            border-radius: 0 80px 0 0;
        }

        &_02 {
            border-radius: 80px 0 0 0;
        }

        &_03 {
            border-radius: 0 0 80px 0;
        }

        &_04 {
            border-radius: 0 0 0 80px;
        }
    }
}